.navbar {
    border: solid black;
    height: 55px;
    display:flex;
    justify-content: space-between;
}
.logo {
    height: 40px;
    border:solid green;
    margin:5px;
}
.iconParent {
    height: 40px;
    border:solid green;
    margin:5px;
    justify-content: space-between;
}
.icon {
    height: 30px;
}
.bigPicture {
    width: 100%;
    border:solid black;
}
.productContainer {
border: solid red;
height:52vh;
margin:1em;
display:flex;
flex-wrap:wrap;
}
.productImage {
    border:solid purple;
    height:140px;
    width:100px;
}
.productTitle {
    text-align:center;
}
.price {
text-align:center;
}
.starContainer {
border: solid blue;
padding:1em;
}
.starHolder {
    border: solid green;
    width:50%;
    height:20px;
}
.ratingBox {
border:solid yellow;
width:50%;
height:20px;
}
/* this is where we style and adjust the lemenets we create in HTML */